#task-item {
  padding: 40px 0;
  .container {
    max-width: 500px;
  }
  .btn-back {
    margin-left: 50px;
  }
  .page-title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .form-group {
    display: block;
    margin: auto;
  }
  .controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    .btn-create {
      margin-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  #task-item {
    .btn-back {
      margin-left: 0;
      margin-bottom: 20px;
    }
    .page-title {
      margin-bottom: 30px;
    }
  }
}
